*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
}
#startingOverlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999;
    background-color: #fff;
    animation: screenAnimate 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}

#startingOverlay img{
    position: absolute;
    top: 50%;
    width: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: logoAnimate 2s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}

#startingOverlay #line1{
    position: absolute;
    left: 20%;
    width: 2px;
    height: 100%;
    background-color: #F68F8F;
    animation: lineAnimate 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

#startingOverlay #line2{
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 2px;
    height: 100%;
    background-color: #F68F8F;
    animation: lineAnimate 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
@keyframes lineAnimate{
    from{
        height: 100%;
    }
    to{
        height: 0;
    }
}

@keyframes logoAnimate{
    from{
        transform: translate(-50%,-50%) scale(1);
    }
    to{
        transform: translate(-50%,-50%) scale(0);
    }
}

@keyframes screenAnimate{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100%);
    }
}


#background{
    width: 100%;
    height: 70%;
    background-color: rosybrown ;
    background-image:  url(https://images.unsplash.com/photo-1562887085-d0aa7ff20b95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1789&q=80);

    background-size:cover ;
}
#nav{    display: flex;     
    justify-content: space-between; 
    align-items: center; 
    width: 100%;           
    height: 60px;
    padding: 0 50px;
    
    
    background-color: white;
}
#nav h3{
    
    color: rosybrown;
    font-weight: 300;
 

 } 
 #links button{
     
     margin: 20px;
     margin-top: 20px;
     margin-left: 10px;
     padding: 7px 15px;
     border-radius: 4px;
     background-color: transparent;
     color: rosybrown;
     outline: none;
     border: 1px solid rosybrown;
     
 }  
 #links button:hover{background-color: rgb(230, 198, 198);
     cursor: pointer;
       
 } 
 #gradient{
     width: 100%;
     height: 446px;
     background:linear-gradient(to right, rgba(143, 103, 103, 0.87),transparent);
    
    
 }
 #text{
     font-family: Montserrat;
     font-size: 100%;
     width: 100%;
     padding: 140px 60px;
     color: rgb(223, 215, 215);
 }
#text #input{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
#text input{
    width: 30%;
    border: rosybrown;
    font-size: 18px;
    padding: 15px 22px;
    margin-top: 40px;
    outline-color: rosybrown;
    border-radius: 4px;
    
}
#text ::placeholder{
    opacity: 50%;
}
#text button{
    height: 100%;
    padding: 17.5px 22px;
    margin-left: 20px;
    outline-color: rosybrown;
    background-color: white;
    border: none;
    font-size: 12px;
    border-radius: 4px;
    border: rosybrown;
}
#text button:hover{
    background-color: rgb(238, 207, 207);
}

#arrrival{
    width: 100%;
    min-height: 300px;
    /* background-color: red;*/
}
#container{
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    min-height: 300px;
    
    background-color: white;
}
#container h1{
    font-family: "PlayFair Display";
    color: #e29898;
}
#container p{
    font-weight: 400;
    color: #999;
    margin-top: 6px;
    line-height: 22px;
}
#container #imgGraphic{
    position: relative;
    width: 100%;
    height: 500px;
}

#container #imgGraphic img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
}
#jewellery{ width: 100%;
    min-height: 500px;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    background-color: rgb(248, 212, 212);
    padding: 20px 0 40px 0;


}
#container2{
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    min-height: 300px;
    
    background-color:rgb(248, 212, 212);
}
#container2 h1{
    font-family: "PlayFair Display";
    color: #e29898;
}
#container2 p{
    font-weight: 400;
    color: #999;
    margin-top: 6px;
    line-height: 22px;

}
#showcase{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    margin-top: 20px;
    /* background-color: red; */
}

.circleShowcase{
    width: 260px;
    height: 260px;
    border: 20px solid #fff;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.404);
}

#oneJ{
    background-image: url(j1.jpg);
}
#twoJ{
    background-image: url(j2.jpg);
}
#threeJ{
    background-image: url(j3.jpg);
}
#fourJ{
    background-image: url(j4.jpg);
}
#offersection{
    width: 100%;
    height: 300px;
    background-color: white;
    
}
#offersection h1{ position: absolute;
    
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 300;
    font-size: 25px;
    margin-top: 100px;
    color:rgb(172, 130, 130);
   
}
#offersection b{
    font-weight: 500px;
}
#offersection button{

    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 200px;
    font-size: 25px;
    padding: 10px;
    border: 1px solid rosybrown;
    border-color: rosybrown;
    color: rgb(221, 188, 188);
    outline:none;
    border-radius: 4px;
    
    background-color:transparent;
     
    
    
}
#offersection button:hover{
    background-color: rgb(185, 127, 127);
    cursor: pointer;
}
#jewellery2{ width: 100%;
    min-height: 500px;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    background-color: rgb(248, 234, 212);

    padding: 20px 0 40px 0;
    

}
#container3{
    margin: 0 auto;
    margin-top: 50px;
    width: 85%;
    min-height: 300px;
    
    background-color: rgb(248, 234, 212);
}
#container3 h1{
    font-family: "PlayFair Display";
    color: rgb(156, 131, 90);
}
#container3 p{
    font-weight: 400;
    color:rgb(182, 154, 108);
    margin-top: 6px;
    line-height: 22px;

}
#showcase2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 260px;
    margin-top: 20px;
    /* background-color: red; */
}

.circleShowcase2{
    width: 260px;
    height: 260px;
    border: 20px solid #fff;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.404);
}

#w1{
    background-image: url(w1.jpg);
}
#w2{
    background-image: url(w2.jpg);
}
#w3{
    background-image: url(w3.jpg);
}
#w4{
    background-image: url(w4.jpg);
}
#cloth{
    width: 100%;
    height: 300px;
    background-color: white;
    
}
#cloth h1{ position: absolute;
    
    left: 50%;
    transform: translate(-50%,0);
    font-weight: 300;
    font-size: 30px;
    margin-top: 100px;
    color:rgb(172, 130, 130);
   
}
#cloth b{
    font-weight: 500px;

}
#footer{
    width: 100%;
    height: 200px;
    background-color:rgb(248, 212, 212);
    padding: 30px 60px;
    
}
#footer h3{
    font-family: 'PlayFair Display';
    color: #af7474;
}
#parentDivLinks{
    display: flex;
    justify-content: space-between;
}

.links{
    
    display: flex;
    flex-direction: column;
    
}
.links a{
    margin-top: 20px;
    color: rgb(163, 109, 109);
}











